// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$error-color: #ff4d4d;
$flash-color: #00b300;

.error {
  color: $error-color;
}

body {
  padding: 15px;
}

.flash {
  color: $flash-color;
}
