$error-color: #ff4d4d;
$error-background-color: #ffc8c7;
$button-color: #ffea73;

.error {
  color: $error-color;
  display: inherit;
}

body {
  padding: 15px;
}

.btn {
  background: $button-color;
  margin: 20px 0px 10px 0px;
}

img {
  max-width: 400px;
}

