<h1>Listing Images</h1>
<%= link_to 'New Image', new_image_path %>
<table>
  <tr>
    <th>URL</th>
    <th></th>
  </tr>

  <% @images.each do |image| %>
    <tr>
      <td><%= image.url %></td>
      <td><%= link_to 'Show', image_path(image) %></td>
    </tr>
  <% end %>
</table>
