<h1>Listing Images</h1>
<%= link_to 'New Image', new_image_path %>

<br>
<h4>Listing Images</h4>
<p class='image-list'>
  <% @images.each do |image| %>
    <%= image_tag image.url %>
  <% end %>
</p>
