<h1>Listing Images</h1>
<%= link_to 'New Image', new_image_path %>

<br>
<h4>Listing Images</h4>
<div class='image-list'>
  <% @images.each do |image| %>
    <div class='image-display'>
      <%= image_tag image.url %>
      <% if image.tag_list.present? %>
        <br>
        <div class='tags'> <%= image.tag_list%> </div>
      <% end %>
    </div>
  <% end %>
</div>
